body {
  background: #630;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

img {
  vertical-align: text-bottom;
}


a {
  color: #f7941e;
  text-decoration: none;
}

a:hover {
  color: #c60;
}

h1, h2, h3, h4, h5, h6 {
  color: #c60;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  background-color: #eee;
  padding: 0.4em;
  text-align: left;
}

tr{
  background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
  background-color: #f5fffa;
}
tbody tr:hover {
  background-color: #cae1d3;
}

td {
  padding: 0.2em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  background: #f7941e;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 0 0.5em;
  min-width: 6em;
  padding: 0.4em 1em;
  text-align: center;
  transition: all 0.3s ease-out;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:not(.plain):hover {
  background: #e37f08;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

button.small {
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  min-width: 2em;
}

button.alert {
  background: #ec5840;
}
button.alert:hover {
  background: #dc143c;
}

button.plain {
  background: transparent;
  padding: 0;
  margin: 0;
  min-width: 1em;
}

button[type="submit"] {
  background-color: #4682b4;
  opacity: 1;
}

button[type="submit"]:hover {
  background-color: #05a;
}

button[type="submit"].off {
  opacity: 0;
}

input::placeholder {
  font-style: italic;
}

[type="file"],
[type="checkbox"],
[type="radio"] {
  margin: 0 0 1em;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-bottom: 0;
  vertical-align: baseline;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"],
[type="month"], [type="week"], [type="email"], [type="number"], [type="search"],
[type="tel"], [type="time"], [type="url"], [type="color"],
textarea {
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #8a8a8a;
  display: block;
  font-size: 1em;
  height: 2.4em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus,
[type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus,
[type="email"]:focus, [type="number"]:focus, [type="search"]:focus,
[type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus,
textarea:focus {
  border: 1px solid #8a8a8a;
  background: #fefefe;
  outline: none;
  box-shadow: 0 0 5px #cacaca;
}

label > [type="checkbox"],
label > [type="label"] {
  margin-right: 0.5em;
}

label {
  display: block;
  margin: 0;
  font-size: 0.85em;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a;
}

label.middle {
  margin: 0 0 1em;
  padding: 0.5em 0;
}

select {
  background-color: #fafafa;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  color: #8a8a8a;
  font-family: inherit;
  font-size: 1em;
  height: 2.5em;
  line-height: normal;
  margin: 0 0 1em;
  padding: 0.5em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:disabled {
  background-color: #e6e6e6;
  cursor: default;
}

select[multiple] {
  height: auto;
}


/* --- onOff switch --- */
.switch-input {
  opacity: 0;
  position: absolute;
}

.switch-paddle {
  background: #cacaca;
  cursor: pointer;
  display: block;
  position: relative;
  width: 3.5em;
  height: 1.5em;
  transition: all 0.25s ease-out;
  border-radius: 3px;
  color: inherit;
  font-weight: inherit;
  vertical-align: middle !important;
}

input + .switch-paddle {
  margin: 0;
}

.switch-paddle::after {
  background: #fefefe;
  content: '';
  display: block;
  position: absolute;
  height: 1em;
  left: 0.25em;
  top: 0.25em;
  width: 1em;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border-radius: 3px;
}

input:checked ~ .switch-paddle {
  background: #f7941e;
}

input:checked ~ .switch-paddle::after {
  left: 2.25em;
}

[data-whatinput='mouse'] input:focus ~ .switch-paddle {
  outline: 0;
}

.switch-active, .switch-inactive {
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.switch-active {
  left: 8%;
  display: none; 
  color: #fff;
}
input:checked + label > .switch-active {
  display: block;
}

.switch-inactive {
  right: 15%;
  color: #f7941e;
  
}

input:checked + label > .switch-inactive {
  display: none;
}
/* --- /onOff switch --- */

.template {
  display: none !important;
}

.invalid {
  background-color: rgba(236, 88, 64, 0.1);
  border-color: #ec5840;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.prime {
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
}

.prime.alert {
  background-color: #fce6e2;
}

.prime.warning {
  background-color: #fff3d9;
}

.prime.small {
    padding: 0.5em;
}

.prime.tiny {
  margin: 0;
  padding: 0.1em;
  font-size: 0.8em;
}

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.has-tip {
  border-bottom: dotted 1px #aaa;
  cursor: help;
  display: inline-block;
  font-weight: bold;
  margin: 0 0.2em !important;
  padding: 0 0.5em !important;
  font-size: 1em;
  color: #08f;
}

.fp-orange {
  color: #f7941e;
}

.fp-color-blob {
  width: 2em;
  height: 1.1em;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 3px #777;
  vertical-align: super;
}

.success {
  background-color: #e1faea;
}

.success:hover {
  background-color: #cae1d3;
}

.secondary {
  background-color: #ebebeb;
}

.secondary:hover {
  background: #d4d4d4;
}

.unsupported {
  background-color: #fce6e2;
}

.unsupported:hover {
  background-color: #e1ceca;
  color: #fff;
}

.fp-fontawsome-border-for-text {
  /* for rtl languages, this should be margin-left */
  margin-right: 0.5em;
}

.header {
  color: #c60;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em !important;
  margin: 0 0 0.5rem 0;
}

.header::before {
  content: url(/images/icon.svg);
  vertical-align: middle;
  margin: 0 0.5em -0.3em 0;
  padding: 0;
  display: inline-block;
}

.header.popup {
  font-size: 1.4em;
  padding: 0em !important;
  margin: 0 0 0.4rem 0;
}

.header.popup::before {
  transform: scale(0.7);
  margin: 0 0em -0.3em 0;
}

.scroll {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-color: #ddd #f5f5f5;
  scrollbar-width: thin;
}

#spinner {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #f7941e;
  display: flex;
  font-size: 20em;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 10000;
}

#spinner.on {
  opacity: 0.5;
}


/* --- fa --- */

.fa-trash, .fa-caret-up, .fa-sort-desc, .fa-pencil {
  color: #ccc;
  transition: all 0.3s ease-in-out;
}

.fa-trash:hover, .fa-caret-up:hover, .fa-sort-desc:hover, .fa-pencil:hover {
  color: #f7941e;
}

.fa-star, .fa-eye, .fa-download {
  color: #f7941e;
}




/* --- vex --- */
.vex h3 {
  margin-bottom: 0;
}
.vex p {
  margin-top: 0;
}
